.Border {
  border-radius: 8px;
  border-style: solid;
  border-color: gray;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  align-content: left;
  display: inline-block;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.Pic {
  height: 250px;
  width: 250px;
  text-align: left;
  display: block;
}

form {
  margin-left: 1.5%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5px;
  width: 23%;
}

input {
  border-radius: 5px;
}
